#wrapper {
	font-family: "Helvetica Neue";
	width: 100%;
}

#page {
	margin-top: 50px;
}

body {
	margin: 0;
	background-color: #444;
}

table {
	margin-left: auto;
	margin-right:auto;
	margin-top: 0;
	margin-bottom: 0;
	
	background-color: #000000;
	
	border-spacing: 0;
	border-collapse: collapse;
	
	outline-width:0;
	outline: 0;
	
	border: 0;
	padding: 0;
}

tr, th, td {
	border-collapse: collapse;
	border-spacing: 0;
	
	outline-width:0;
	outline: 0;
	
	margin: 0;
	border: 0;
	padding: 0;
}

.videoHeader {
	position: absolute;
	top: 2px;
	left: 2px;
	color: #C0C0C0;
	
	outline-width:0;
	outline: 0;
	
	margin: 0;
	border: 0;
	padding: 0;
}

.videoCellDiv {
	position: relative;
	
	margin: 0;
	border: 0;
	padding: 0;
}

video {
	display:block;
	
	outline-width:0;
	outline: 0;
	
	margin: 0;
	border: 0;
	padding: 0;
}